# Exclude all files and folders within the data folder

data/*
!data/link.txt
!data/

libtorch/train_model/data/*
!libtorch/train_model/data/
!libtorch/train_model/data/link.txt

libtorch/eval_model/pretrained/*
!libtorch/eval_model/pretrained

libtorch/train_model/build/*
!libtorch/train_model/build/


